name: Build PassWall RUN

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare files
        run: |
          mkdir -p x86_64/files
          cp shell/ps_install.sh x86_64/files/
          chmod +x x86_64/files/ps_install.sh

      - name: Install makeself
        run: |
          sudo apt update
          sudo apt install -y makeself

      - name: Build passwall.run
        run: |
          mkdir -p output
          makeself \
            x86_64/files \
            output/passwall.run \
            "PassWall Installer" \
            ./ps_install.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: passwall-run
          path: output/passwall.run
