name: Build Tailscale run package

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install tools
        run: sudo apt-get update && sudo apt-get install -y curl tar makeself

      - name: Prepare directories
        run: |
          mkdir -p x86_64
          chmod +x shell/install-tailscale.sh
          cp shell/install-tailscale.sh x86_64/install.sh

      - name: Download Tailscale core (amd64)
        run: |
          curl -L https://pkgs.tailscale.com/stable/tailscale_1.92.3_amd64.tgz -o tailscale.tgz
          tar xf tailscale.tgz

          REAL_DIR=$(tar tf tailscale.tgz | head -n1 | cut -d/ -f1)

          cp "$REAL_DIR/tailscale" x86_64/
          cp "$REAL_DIR/tailscaled" x86_64/
          chmod +x x86_64/tailscale x86_64/tailscaled

      - name: Build run file
        run: |
          mkdir -p output
          makeself x86_64 \
            output/tailscale-1.92.3_x86_64.run \
            "Tailscale 1.92.3 x86_64 Installer" \
            ./install.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: tailscale-run
          path: output/*.run
