name: turboacc

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Packaging Environment
        run: |
          sudo apt-get update
          sudo apt-get install -y makeself

      - name: Execute Shell Script
        run: |
          chmod +x shell/turboacc.sh
          ./shell/turboacc.sh
          cp info/turboacc.md control

      - name: Generate Run File
        run: |
          mkdir -p output
          # 【关键点】这里固定输出文件名为 TurboAcc-x86_64.run
          makeself --nox11 . output/TurboAcc-x86_64.run "TurboAcc for iStoreOS" ./install.sh

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: plugin-release  # 固定 Tag 名字
          name: TurboAcc 最新插件包
          files: output/TurboAcc-x86_64.run
          overwrite: true           # 开启覆盖模式，这样 Release 里永远只有一个文件
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
