name: turboacc

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Packaging Environment
        run: |
          sudo apt-get update
          sudo apt-get install -y makeself

      - name: Execute Shell Script
        run: |
          chmod +x shell/turboacc.sh
          ./shell/turboacc.sh
          # 将元数据复制给 control 文件
          cp info/turboacc.md control

      - name: Generate Run File
        run: |
          mkdir -p output
          # 打包成 .run 文件
          makeself --nox11 . output/luci-app-turboacc_x86_64.run "TurboAcc for iStoreOS" ./install.sh

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: Latest
          files: output/luci-app-turboacc_x86_64.run
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
